---
const { type, id, label, placeholder } = Astro.props;
---

<div class="ubuntu-regular">
  <label for={id} class="block text-xs font-medium text-primary">{label}</label>
  <input
    type={type}
    id={id}
    name={id}
    required
    minlength={4}
    maxlength={35}
    class="max-w-xs w-full mt-0.5 py-1.5 px-2 bg-input rounded-md focus:outline-none shadow-sm text-sm"
    placeholder={placeholder}
  />
</div>
