---
const { id, label, placeholder } = Astro.props;
---

<div class="ubuntu-regular">
  <label for={id} class="block text-xs font-medium text-primary">{label}</label>
  <textarea
    id={id}
    name={id}
    required
    minlength={4}
    maxlength={500}
    class="max-w-xs w-full mt-1 rounded-md border-gray-200 shadow-sm bg-input resize-none py-1 px-2 text-sm focus:outline-none"
    rows={4}
    placeholder={placeholder}></textarea>
</div>
